{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Confirmer la réservation{% endblock %}

{% block description %}Confirmer la réservation{% endblock %}

{% block main %}

    <div class="grey2 py-5">
        <div class="container">
            <h1 class="text_size_xl pb-5 text-center text-white">Confirmer votre réservation</h1>

            <div class="w-75 mx-auto">{% include 'components/_alert.html.twig' %}</div>

            <div class="card w-75 mx-auto my-4">
                <p class="card-header text_size_m bg-primary bg-opacity-25">Ma réservation</p>
                <div class="row card-body p-4">
                    <h3 class="py-2">{{ app.user.firstName }} {{ app.user.lastName }}</h3>
                    <div>
                        <span class="text_size_xs">Date :</span>
                        <p class="pb-2 text_size_s">{{date|date('l j F')}}</p>
                    </div>
                    <div>
                        <span class="text_size_xs">Créneau :</span>
                        <p class="py-2 text_size_s">{{date|date('H')}}h00 - {{date|date('H') + duree}}h00</p>
                    </div>
                    <div class="d-md-flex">
                        <div class="me-md-2">
                            <a href="{{path('user_booking_create')}}" class="btn btn-primary my-2">Confirmer la réservation</a>
                        </div>
                        <div class="me-md-2">
                            <a href="{{path('user_booking_index', {'annee' : date|date("Y"), 'mois' : date|date("m"), 'jour' : date|date("d")})}}" class="btn btn-danger my-2">Annuler</a>
                        </div>
                        <div>
                            {% if "ROLE_SUPER_ADMIN" not in app.user.roles %}
                                <form action="{{path('visitor_myProfile_delete')}}" method="POST" class="d-inline">
                                    <input type="hidden" name="_csrf_token" value="{{csrf_token('delete_profile')}}">
                                    <input onclick="return confirm('Confirmer la suppression de votre compte ?')" type="submit" class="btn btn-danger my-2" value="Supprimer mon compte">
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}