{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block description %}Modifier mon mot de passe{% endblock %}

{% block keywords %}Profil, Utilisateur, Modifier, Mot de passe, Personnelles, Padel, Time{% endblock %}

{% block main %}

    <div class="grey2 text-white pb-4">
        <div class="container py-5">
            <h1 class="text_size_xl pb-5 text-center">Mon profil</h1>
            <div class="card w-75 mx-auto">
                <p class="card-header text_size_m bg-primary bg-opacity-25">Modifier mon mot de passe</p>
                <div class="row card-body p-4">
                    <div class="col-lg-7">
                        {{ form_start(form) }}
                            <div class="mb-3">
                                <label for="edit_password_form_currentPassword">Mot de passe actuel</label>
                                {{form_widget(form.currentPassword, {'attr': {'class': 'form-control', 'autofocus':'autofocus'}})}}
                                <div class="text-danger">{{ form_errors(form.currentPassword) }}</div>
                            </div>
                            <div class="mb-3">
                                <label for="edit_password_form_plainPassword_first">Nouveau mot de passe</label>
                                {{form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder':'Au moins 12 caractères'}})}}
                                <div class="text-danger">{{ form_errors(form.plainPassword.first) }}</div>
                                <small class="fst-italic">Le mot de passe doit contenir au moins une lettre majuscule, une lettre minuscule, un chiffre et un caractère spécial.</small>
                            </div>
                            <div class="mb-3">
                                <label for="edit_password_form_plainPassword_second">Répéter le mot de passe</label>
                                {{form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}})}}
                                <div class="text-danger">{{ form_errors(form.plainPassword.second) }}</div>
                            </div>
                            <div>
                                <input formnovalidate type="submit" class="btn btn-dark mt-2" value="Modifier">
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div> 
            </div>
        </div>
    </div>
                
{% endblock %}