{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block description %}Mon profil{% endblock %}

{% block keywords %}Profil, Utilisateur, Padel, Time{% endblock %}

{% block main %}

    <div class="grey2 text-white">
        <div class="container py-5">
            <h1 class="text_size_xl pb-5 text-center">Mon profil</h1>

            {% include 'components/_alert.html.twig' %}

            <div class="accordion pb-5" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        Mes informations
                    </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                        <div class="accordion-body">
                            <h3 class="py-2">{{ app.user.firstName }} {{ app.user.lastName }}</h3>
                            <span class="text_size_xs">Email :</span>
                            <p class="pb-2 text_size_s">{{ app.user.email }}</p>
                            <span class="text_size_xs">Téléphone :</span>
                            <p class="py-2 text_size_s">{{ app.user.phone }}</p>
                            <a href="{{path('visitor_myProfile_edit')}}" class="btn btn-primary my-2">Modifier mon profil</a>
                            <a href="{{path('visitor_myProfile_edit_password')}}" class="btn btn-dark my-2">Modifier mon mot de passe</a>
                            {% if "ROLE_SUPER_ADMIN" not in app.user.roles %}
                                <form action="{{path('visitor_myProfile_delete')}}" method="POST" class="d-inline">
                                    <input type="hidden" name="_csrf_token" value="{{csrf_token('delete_profile')}}">
                                    <input onclick="return confirm('Confirmer la suppression de votre compte ?')" type="submit" class="btn btn-danger my-2" value="Supprimer mon compte">
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        Mes réservations
                    </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            
                        </div>
                    </div>
                </div>
            </div>
                
{% endblock %}