{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block description %}Mon profil{% endblock %}

{% block keywords %}Profil, Utilisateur, Padel, Time{% endblock %}

{% block main %}

    <div class="grey2 text-white">
        <div class="container py-5">
            <h1 class="text_size_xl pb-5 text-center">Mon profil</h1>

            <div class="w-75 mx-auto">{% include 'components/_alert.html.twig' %}</div>

            <div class="card w-75 mx-auto">
                <p class="card-header text_size_m bg-primary bg-opacity-25">Mes informations</p>
                <div class="row card-body p-4">
                    <h3 class="py-2">{{ app.user.firstName }} {{ app.user.lastName }}</h3>
                    <div>
                        <span class="text_size_xs">Email :</span>
                        <p class="pb-2 text_size_s">{{ app.user.email }}</p>
                    </div>
                    <div>
                        <span class="text_size_xs">Téléphone :</span>
                        <p class="py-2 text_size_s">{{ app.user.phone }}</p>
                    </div>
                    <div class="d-md-flex">
                        <div class="me-md-2">
                            <a href="{{path('visitor_myProfile_edit')}}" class="btn btn-primary my-2">Modifier mon profil</a>
                        </div>
                        <div class="me-md-2">
                            <a href="{{path('visitor_myProfile_edit_password')}}" class="btn btn-dark my-2">Modifier mon mot de passe</a>
                        </div>
                        <div>
                            {% if "ROLE_SUPER_ADMIN" not in app.user.roles %}
                                <form action="{{path('visitor_myProfile_delete')}}" method="POST" class="d-inline">
                                    <input type="hidden" name="_csrf_token" value="{{csrf_token('delete_profile')}}">
                                    <input onclick="return confirm('Confirmer la suppression de votre compte ?')" type="submit" class="btn btn-danger my-2" value="Supprimer mon compte">
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card w-75 mx-auto mt-5">
                <p class="card-header text_size_m bg-primary bg-opacity-25">Mes réservations</p>
                <div class="row card-body p-4">
                </div>
            </div>
        </div>
    </div>
                
{% endblock %}