{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Notre Club{% endblock %}

{% block description %}Tarifs et horaires{% endblock %}

{% block keywords %}Padel, Tennis, Club, Time, Tarifs, Horaires, Lieux, Trouver{% endblock %}

{% block main %}

    <div class="grey2 text-center">
        <!-- Titre -->
        <h1 class="py-5 text_size_xl text-white">TARIFS ET HORAIRES</h1>

        <!-- Horaires -->
        <section class="container text-white">
            <div>
                <h2 class="text_size_l pb-4 text-white">Ouvert tous les jours</h2>
                <p>Lundi au vendredi + jours fériés : <strong>{{setting.weekOpeningHours}}</strong></p>
                <p>Week-end : <strong>{{setting.weekEndOpeningHours}}</strong></p>
            </div>

            <!-- Cartes tarifs -->
            <div class="d-flex flex-column align-items-center mt-5 flex-md-row justify-content-md-evenly">
                <article class="card card_size mb-3 shadow-lg">
                    <div class="card-header">
                        <p class="mt-2 text_size_m fw-medium">Heures creuses</p>
                    </div>
                    <div class="card-body d-flex flex-column justify-content-evenly">
                        <p class="card-title text_size_s fw-medium">{{setting.offPeakHoursPrice}}€ / heure / personne</p>
                        <div>
                            <p class="card-text">du lundi au vendredi</p>
                            <p class="card-text">de 10h à 17h</p>
                        </div>
                    </div>
                </article>
                <article class="card card_size mb-3 shadow-lg">
                    <div class="card-header">
                        <p class="mt-2 text_size_m fw-medium">Heures pleines</p>
                    </div>
                    <div class="card-body d-flex flex-column justify-content-evenly">
                        <p class="card-title text_size_s fw-medium">{{setting.peakHoursPrice}}€ / heure / personne</p>
                        <div>
                            <p class="card-text">du lundi au vendredi</p>
                            <p class="card-text">de 17h à 22h</p>
                            <p class="card-text">+ week-end</p>
                        </div>
                    </div>
                </article>
            </div>

            <!-- Loc/achat matériels -->
            <div class="mt-5 mb-4" >
                <img src="/logos/raquette.png" class="mb-2" width="60px" alt="Raquette">
                <p class="text-white text_size_s">Location raquette : {{setting.racketRentalPrice}}€</p>
            </div>
            <div class="mb-5">
                <img src="/logos/balle.png" class="mb-2" width="40px" alt="Balle">
                <p class="text-white text_size_s">Achat balles : {{setting.ballPrice}}€</p>
            </div>
            <a class="mb-5 btn btn-primary btn-lg blue_color btn_resa" href="{{path('user_booking_index')}}">Réservez un terrain</a>
        </section>

        <!-- Nous trouver -->
        <section class="text-center grey1" id="nous_trouver">
            <div class="py-5 container d-flex">
                <!-- MAP -->
                <iframe class="d-none d-md-block me-2" src="{{setting.mapLink}}" width="550" height="525" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                <!-- INFOS -->
                <article class="d-flex mx-auto flex-column text-white">
                    <h3 class="text_size_l">{{setting.clubName}}</h3>
                    <div>
                        <div class="my-5">
                            <img src="/logos/localisation.png" class="mb-2" width="60" alt="Localisation">
                            <p class="text_size_s">{{setting.address}}</p>
                        </div>
                        <div class="mb-5">
                            <img src="/logos/tel.png" class="mb-2" width="50" alt="Téléphone">
                            <p class="text_size_s">{{setting.phone}}</p>
                        </div>
                        <div>
                            <img src="/logos/mail.png" class="mb-2" width="50" alt="Courrier">
                            <p class="text_size_s">{{setting.email}}</p>
                        </div>
                    </div>
                </article>
            </div>
        </section>

        <!-- Logo FFT -->
        <section class="grey2">
            <div class="container text-center py-5">
                <a href="https://www.fft.fr/jouer/le-padel" target="_blank"><img class="w-25" src="/logos/logo_padel_fft.png" alt="FFT"></a>
            </div>
        </section>
    </div>

{% endblock %}