<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {# Title #}
        <title>{% block title %}{% endblock %} - Padel Time</title>

        {# SEO #}
        <meta name="robots" content="all">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="keywords" content="{% block keywords %}{% endblock %}">
        <meta name="author" content="Quentin Martens">
        <meta name="publisher" content="Quentin Martens">

        {# Font Awesome #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        {# Font Familly #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        {# CSS part of Bootstrap 5 #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

        {# My CSS #}
        <link rel="stylesheet" href="{{ asset('style/style.css') }}">
    </head>
    <body>

        {# Navbar #}
        <nav class="navbar navbar-expand-lg text_size_m">
            <div class="container">
                <!-- Logo -->
                <a class="navbar-brand" href="{{path('visitor_home_index')}}"><img width="110" src="/logos/Padeltime.png" alt="Logo"></a>
                
                <!-- menu burger -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <!-- Contenu du burger -->
                <div class="collapse navbar-collapse poppins-regular" id="navbarSupportedContent">
                    <!-- Menu -->
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item dropdown pe-5">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Notre club</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{path('visitor_notreClub_index')}}">Tarifs / Horaires</a></li>
                                <li><a class="dropdown-item" href="{{path('visitor_notreClub_index')}}#nous_trouver">Nous trouver</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown pe-5">
                            <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Le padel</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{path('visitor_lePadel_index')}}">Présentation</a></li>
                                <li><a class="dropdown-item" href="{{path('visitor_lePadel_index')}}#niveaux">Les niveaux au padel</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="{{path('visitor_contact_index')}}">Contact</a>
                        </li>
                    </ul>

                    <!-- Boutons -->
                    <div class="d-flex align-items-end">
                        {% if app.user and is_granted('ROLE_ADMIN') %}
                            <a class="pe-3" href="{{path('admin_home')}}"><img src="/logos/cadenas.png" width="40" alt=""></a>
                            <a class="pe-4" href="#"><img src="/logos/utilisateur.png" width="40" alt=""></a>
                            <a href="{{path('user_booking_index')}}"><img src="/logos/reservation_bleu.png" width="50" alt=""></a>
                        {% elseif app.user and is_granted('ROLE_USER') %}
                            <a class="pe-4" href="#"><img src="/logos/utilisateur.png" width="40" alt=""></a>
                            <a href="{{path('user_booking_index')}}"><img src="/logos/reservation_bleu.png" width="50" alt=""></a>
                        {% else %}
                            <a class="pe-4" href="{{path('visitor_authentication_login')}}"><img src="/logos/utilisateur.png" width="40" alt=""></a>
                            <a href="{{path('visitor_authentication_login')}}"><img src="/logos/reservation_bleu.png" width="50" alt=""></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
        
        {# The specific content for each page #}
        <main>
            {% block main %}{% endblock %}
        </main>

        {# Footer #}
        <section class="py-3 container d-flex flex-column align-items-center justify-content-around flex-md-row">
            <div class="d-flex justify-content-around align-items-center">
                <!-- Logo -->
                <a href="{{path('visitor_home_index')}}"><img class="me-3" width="110" src="/logos/Padeltime.png"alt="Logo"></a>

                <!-- Mentions legales -->
                <button type="button" class="btn text-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Mentions légales</button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Mentions légales</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut mi tempor, rhoncus sapien a, elementum dolor. Vestibulum vulputate massa eu scelerisque bibendum. Vestibulum sit amet ultricies enim, interdum consectetur quam. Praesent vitae efficitur urna, at egestas urna. Nulla id arcu ligula. Cras gravida, massa nec congue posuere, turpis nibh faucibus mi, eget molestie nibh sem id enim. Maecenas tincidunt at nulla non sodales. In eu viverra lectus. Duis nec ex ac lorem sagittis facilisis et vitae lacus. Sed quam libero, volutpat eu porttitor vel, tincidunt et massa. Nunc pulvinar fermentum leo, nec volutpat sem eleifend sit amet. Phasellus a quam pellentesque, condimentum tortor non, gravida nulla. Nullam bibendum est sit amet nisi congue, ultrices luctus risus tempor. Nulla ac tortor dignissim, pellentesque lectus ut, venenatis mi. Aliquam volutpat quam nec ipsum condimentum ullamcorper. Quisque porta arcu ligula, vel malesuada neque faucibus ac.</p>

                                <p>Mauris faucibus nisi eget volutpat pellentesque. Nulla facilisis justo leo, vel sollicitudin lectus tempor vitae. Fusce ultricies vitae metus eget rhoncus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam quis tristique augue, vitae sollicitudin velit. Vivamus id ipsum tempus, interdum nulla eu, rhoncus arcu. Fusce mollis odio et odio pellentesque convallis. Proin varius lectus eu felis consectetur, ut tempor nisl condimentum.</p>

                                <p>Nulla et dui ut mi condimentum maximus vel eget mi. In vestibulum pellentesque elit. Ut dignissim ligula at imperdiet euismod. Integer nibh tortor, laoreet a eros et, aliquam lobortis dui. Ut malesuada euismod augue ac gravida. Aenean placerat finibus vehicula. Suspendisse rhoncus elit in odio iaculis vulputate.</p>

                                <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris at rhoncus massa, vitae tincidunt dui. In sit amet magna lectus. Etiam in erat nulla. Nunc maximus dolor sit amet libero porta, ullamcorper auctor magna facilisis. Duis efficitur, felis a feugiat malesuada, dolor nisi rutrum nisl, ac dapibus tortor lorem scelerisque mauris. Aenean blandit lacus eu quam condimentum ullamcorper.</p>

                                <p>Duis nibh dui, convallis non aliquam sed, feugiat eget lorem. Sed dui ante, posuere et finibus vel, semper eleifend sem. Etiam pharetra tincidunt libero, id consequat ex molestie venenatis. Aliquam in iaculis turpis. Nam dui erat, congue a ornare ac, tristique ut arcu. Mauris at molestie turpis. Aliquam ut porta risus. Pellentesque non semper nulla. Fusce tortor turpis, tempor in leo ac, feugiat fermentum eros.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column align-items-center justify-content-around flex-md-row">
                <!-- Reseaux sociaux -->
                <div class="d-flex flex-column my-3 me-lg-5">
                    <p>Suivez-nous sur les réseaux sociaux</p>
                    <div class="d-flex justify-content-evenly align-items-center">
                        <a href="{{setting.facebookLink}}" target="_blank"><img class="img-fluid" width="30" src="/logos/facebook.png"alt="Logo"></a>
                        <a href="{{setting.instagramLink}}" target="_blank"><img class="img-fluid" width="35" src="/logos/instagram.png"alt="Logo"></a>
                        <a href="{{setting.tiktokLink}}" target="_blank"><img class="img-fluid" width="50" src="/logos/tiktok.png"alt="Logo"></a>
                        <a href="{{setting.linkedinLink}}" target="_blank"><img class="img-fluid" width="40" src="/logos/linkedin.png"alt="Logo"></a>
                    </div>
                </div>

                <!-- Tel/Mail -->
                <div class="text-center">
                    <p>{{setting.phone}}</p>
                    <p>{{setting.email}}</p>
                </div>
            </div>
        </section>

        {# JS part of Bootstrap 5 #}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>